@font-face {
  font-family: shabnam;
  src: url(./fonts/Shabnam-Medium.woff);
}

body {
  font-family: shabnam, "Inconsolata", monospace;
  padding: 0;
  margin: 0;
}

/***********/
/**HEADER**/
/***********/

header {
  background-color: #5524a5;
  position: relative;
  height: 60vh;
}
header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  background-image: url(../assets/header.jpg);
}

/***********/
/**svg**/
/***********/
.svg {
  width: 100%;
  position: relative;
}
.custom-shape-divider-top-1663923549 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1663923549 svg {
  position: relative;
  display: block;
  width: calc(269% + 1.3px);
  height: 181px;
}

.custom-shape-divider-top-1663923549 .shape-fill {
  fill: #5524a5;
}

/***********/
/**HEADER**/
/***navbar***/
.navbar {
  position: relative;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  background-color: rgb(175, 40, 168);
  padding: 10px 15px;
  border-radius: 130px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.navbar ul {
  display: flex;

  flex-direction: row-reverse;
  list-style: none;
}
.navbar li {
  margin: 15px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.logo img {
  width: 200px;
}
/***********/
/**HEADER**/
/***search***/
.search-box {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 25%;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: rgba(48, 28, 73, 0.2);
  border-radius: 60px;
  padding: 0 20px;
  color: #fff;

  font-weight: 100;
}
.text h4 {
  font-size: 14px;
  color: rgb(170, 167, 167);
}
.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 10px;
}
.search p {
  background-color: #fff;
  color: #000;
  padding: 6px 15px;
  border-radius: 25px;
  color: #000;
  font-size: 14px;
}
.search .fa-thin {
  background-color: #fff;
  color: #000;
  padding: 6px 12px;
  border-radius: 50px;
  margin-right: 10px;
  background-color: rgb(175, 40, 168);
  color: #fff;
}
.archive h4 {
  text-align: center;
  padding-top: 20px;

  color: #fff;
  font-size: 22px;
}
/***********/
/**HEADER**/
/***scroll***/
.abc-saerch {
  display: flex;
  position: absolute;
  width: 40%;
  top: 65%;
  left: 30%;
  margin: 0 auto;
  overflow: scroll;
  padding-top: 20px;
}
.scroll p {
  margin-left: 3px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}
.scroll p:hover {
  background: linear-gradient(rgba(219, 60, 145, 1) 0%, rgba(231, 122, 122, 1));
}
/***********/
/**HEADER**/
/***card-scroll***/
.box-film {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: absolute;
  top: 90%;
  left: 20%;
  z-index: 1;
  overflow: scroll;
}
.card-scroll {
  margin-right: 5px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-left: 12px;
  background-color: #fff;
}
.card-scroll img {
  width: 180px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 5px;
}
.card-scroll img:hover {
  background: linear-gradient(rgba(219, 60, 145, 1) 0%, rgba(231, 122, 122, 1));
  width: 180px;
  padding: 5px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid transparent;
}
/***********/
/**section weekly-table**/
/**********/

.weekly-table {
  width: 60%;
  margin: 0 auto;
  margin-top: 300px;
}
.weekly-table h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 200;
}
.week-day ul {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
  padding: 0;
}
.week-day a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/***********/
/**section film-info**/
/**********/
.films-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

.films {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  background-color: #f0f0f0;
  border-radius: 10px;
  height: 100px;
}
.films:hover {
  background-color: #5727a5;
  color: #fff;
}
.film-1 img {
  width: 60px;
  padding: 5px;
  border-radius: 10px;
}
.film-2 {
  flex: 2;
  padding-left: 10px;
}
.film-2 i {
  color: #cc00cc;
}

.film-3 {
  padding-right: 15px;
  padding-top: 45px;
}
/***********/
/**second-svg**/
/**********/
.second-svg {
  width: 100%;
  position: relative;
}
.custom-shape-divider-top-1664447671 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1664447671 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.custom-shape-divider-top-1664447671 .shape-fill {
  fill: white;
}
/***********/
/**second-header**/
/**********/

.second-header {
  background-color: #5727a5;
  min-height: 100vh;
  margin-top: 40px;
  position: relative;
}
.second-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(assets/header1.jpg);
  opacity: 0.03;
  width: 100%;
  height: 100%;
}
.container {
  padding: 0;
  margin: 0;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
}
.updated-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.updated-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.updated-col img {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 6px;
  width: 200px;
}
.updated-col img:hover {
  background: linear-gradient(rgba(219, 60, 145, 1) 0%, rgba(231, 122, 122, 1));
  border: none;
}
.updated-col h5 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  line-height: 5px;
}
.updated-col p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  line-height: 3px;
}
.title {
  padding-bottom: 40px;
  margin: 0, auto;
}

.title h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.title p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
/***********/
/**trailer**/
/**********/
.trailer {
  min-height: 500px;
  background-color: #2a2a39;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.trailer-row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trailer-box {
  max-width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.trailer-box iframe {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: #22222f;
}
.trailer-box h2 {
  margin: 0;
  direction: rtl;
  color: #eee;
  margin-bottom: 40px;
  font-weight: 300;
}

.trailer-film {
  width: 420px;
  height: 250px;
  background: #22222f;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}
.trailer-film div {
  margin: auto;
  padding: 0;
}
.trailer-film ul {
  direction: rtl;
  list-style: none;
  text-decoration: none;
}
.trailer-film a {
  text-decoration: none;
  font-size: 12px;
  color: #eee;
  line-height: 25px;
}
/***********/
/**third-svd**/
/**********/

.third-svg {
  width: 100%;
  position: relative;
}

.custom-shape-divider-top-1664483085 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #f2f3f8;
}

.custom-shape-divider-top-1664483085 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.custom-shape-divider-top-1664483085 .shape-fill {
  fill: #2a2a39;
}

/***********/
/**IMDB**/
/**********/
.imdb {
  background-color: #f2f3e5;
  padding-bottom: 20px;
}
.imdb-container {
  width: 60%;
  margin: 0 auto;
}

.imdb-title h2 {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 60px;
}
.imdb-row {
  display: flex;
  min-height: 480px;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  flex-direction: row-reverse;
  border-radius: 20px;
  margin-bottom: 40px;
}
.imdb-btn {
  text-align: center;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.like {
  padding: 14px 30px;
  display: flex;
  flex-direction: column;
}
.like i {
  color: #db3c9179;
  font-size: 33px;
  cursor: pointer;
}
.like i:hover {
  color: #db3c91;
  transform: scale(1.2);
}

.dislike {
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
}

.dislike i {
  color: #0d10c954;
  font-size: 33px;
  cursor: pointer;
}
.dislike i:hover {
  color: #0d10c9;
  transform: scale(1.2);
}

.imdb-col img {
  padding: 10px;
  width: 180px;
}
.imdb-col p {
  direction: rtl;
  line-height: 25px;
  font-size: 16px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  flex: 1;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info i {
  color: #ed986f;
  font-size: 24px;
}
.web {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web h3 {
  font-size: 18px;
  font-weight: bold;
}
.web p {
  direction: ltr;
  font-size: 12px;
  margin-bottom: 120px;
}

.read-more-btn {
  padding-bottom: 10px;
}

.read-more-btn button {
  background-color: #292939;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
}
.read-more-btn button:hover {
  background-color: #5727a5;
  color: #fff;
}
.web a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.flex-col {
  background-color: #db3c91;
  padding: 10px;
  border-radius: 5px;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-col p {
  background-color: #fff;
  padding: 15px 0;
  border-radius: 50px;
  text-align: center;
  color: #db3c91;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.flex-col div {
  text-align: center;
  margin-bottom: 20px;
}
.flex-col span {
  background-color: #fff;
  border-radius: 50px;
  padding: 8px 8px;
  text-align: center;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.flex-col h5 {
  color: #fff;
}
body
  > section.imdb
  > div
  > div.imdb-row
  > div:nth-child(4)
  > div
  > div
  > span:nth-child(6) {
  background-color: #12b33c;
  border: 2px solid #fff;
}

/***********/
/**forth-svd**/
/**********/
.forth-svg {
  width: 100%;
  position: relative;
}
.custom-shape-divider-top-1664954591 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #fff;
}

.custom-shape-divider-top-1664954591 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
}
.custom-shape-divider-top-1664954591 .shape-fill {
  fill: #f2f3f8;
}
/***********/
/**pre-footer**/
/**********/
.pre-footer {
  background-color: #fff;
}
.box-office {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 120px;
}
.boxes {
  width: 48%;
  display: flex;
  background-color: #f2f3f8;
  padding: 10px;
}
.box-1 img {
  width: 80px;
  height: 110px;
}
.box-2 {
  flex: 1;
  padding-left: 10px;
  font-weight: bold;
}
/* // XX-Large devices (larger desktops, 1400px and down) */
@media (max-width: 1400px) {
}

/* // X-Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
}

/* // Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  .trailer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/* // Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
}

/* // Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  /* 0-576 */
}
